* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

/*Mobile*/
html {
    font-size: 62.5%;
    /*1rem -> 10px*/
}

body {
    width: 100%;
    background-color: #EEEDDE !important;
}

footer {
    width: 100%;
    background-color: #E0DDAA;
}

/*Header*/
.header {
    background-color: #141E27;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    &__logo img {
        width: 5rem;
        margin: 0 auto;
    }

    &__title {
        color: #EEEDDE;
        width: auto;

        h1 {
            text-align: center;
            font-size: small;
        }
    }

    &__social-media {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__social-media img {
        width: 100%;
    }
}

nav {
    background-color: #E0DDAA;
}

.nav {
    width: 100%;

    &__sections {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        justify-items: center;
        align-items: center;
        margin: auto 9%;
        grid-gap: 3%;
    }

    &__section {

        &__a1 {
            text-decoration: none;
            font-weight: 600;
            font-size: larger;
            color: black;

            &:hover {
                transition: 500ms;
                text-shadow: 3px 3px 6px #F9D923;
                transform: translateY(-2px);
                color: black;
            }
        }

        &__a2 {
            text-decoration: none;
            font-weight: 600;
            font-size: larger;
            color: black;

            &:hover {
                transition: 500ms;
                text-shadow: 3px 3px 6px #36AE7C;
                transform: translateY(-2px);
                color: black;
            }
        }

        &__a3 {
            text-decoration: none;
            font-weight: 600;
            font-size: larger;
            color: black;

            &:hover {
                transition: 500ms;
                text-shadow: 3px 3px 6px #187498;
                transform: translateY(-2px);
                color: black;
            }
        }

        &__a4 {
            text-decoration: none;
            font-weight: 600;
            font-size: larger;
            color: black;

            &:hover {
                transition: 500ms;
                text-shadow: 3px 3px 6px #EB5353;
                transform: translateY(-2px);
                color: black;
            }
        }
    }
}

section {
    iframe {
        width: 80%;
        margin: 2rem auto;
        border-radius: 20px 8px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.9);
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        transition: 500ms;

        &:hover {
            transform: translateX(10px);
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.9);
        }
    }

    &__tae {
        width: 65%;
        border-radius: 16px;
        border: 2px solid #141E27;
        background-color: #203239;
        margin-bottom: 1rem;

        img {
            display: none;
        }

        h2 {
            margin-bottom: 1rem;
        }

        &__text {
            display: flex;
            color: #EEEDDE;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__kwon {
        width: 65%;
        border-radius: 16px;
        border: 2px solid #141E27;
        background-color: #203239;
        margin-bottom: 1rem;

        img {
            display: none;
        }

        h2 {
            margin-bottom: 3px;
        }

        &__text {
            display: flex;
            color: #EEEDDE;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__do {
        width: 65%;
        border-radius: 16px;
        border: 2px solid #141E27;
        background-color: #203239;
        margin-bottom: 3rem;
        text-decoration: none;

        img {
            display: none;
        }

        h2 {
            margin-bottom: 3px;
        }

        &__text {
            display: flex;
            color: #EEEDDE;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

}

.taekwondo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: 3rem 0;
        width: 12%;
    }

    &__text {
        width: 80%;

        &__intro {
            font-weight: 800;
            text-align: justify;
        }

        &__desgloce {
            font-weight: 700;
            text-align: justify;
        }

        &__choi {
            text-align: center;

            img {
                margin: 2rem 0 0 0;
                width: 70%;
            }

            &__art {
                font-size: 10px;
                font-weight: 500;
                margin-bottom: 3rem;
            }
        }
    }

}

.form {
    width: 80%;
    margin: 3rem auto;
}


.footer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: stretch;
    justify-content: space-around;
    padding: 30px 0 0 0;
    text-align: center;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__sitios {
        text-align: center;

        li {
            margin: 5%;
        }
    }

    &__redes-sociales {
        text-align: center;

        .encabezado__social-media {
            display: flex;
            flex-direction: row;
            margin: 0 auto;

            img {
                width: 90%;
            }
        }
    }

    &__derechos {
        background-color: #EEEDDE;
        width: 100%;

        p {
            margin: 0;
        }
    }
}

.sucursal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        text-align: center;
        font-size: 15px;
        margin-top: 2rem;
        width: 80%;
    }

    &__map {
        width: 100%;
        display: flex;
    }
}

.alumnos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    font-weight: 600;

    &__titulo {
        margin: 3rem 0;
    }

    &__text {
        margin-bottom: 3rem;

        &__1 {
            font-size: 20px;
        }

        &__2 {
            font-size: 15px;
            margin: 2rem 0;
            font-weight: 800;
        }

        &__3 {
            font-size: 20px;
        }
    }
}

.carrusel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__subtitle {
        width: 80%;
    }

    &__fotos {
        width: 60%;
        margin: 4rem auto;

        img {
            height: 500px;
            width: fit-content;
        }
    }
}

.ictf2 {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &__title {
        text-align: center;
        margin-bottom: 3rem;

    }

    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        font-size: 15px;
        font-weight: 600;
        margin: 3rem 0;

    }

    &__logo {
        text-align: center;
        img{
            width: 80%;
        }        
    }

    &__video {
        display: flex;
        align-items: center;

        iframe {
            width: 100%;
        }
    }
}



/*Tablet*/
@media only screen and (min-width: 600px) {

    .header {
        display: grid;
        justify-items: center;
        column-gap: 7%;
        width: auto;

        &__logo {
            margin: auto 3rem;
        }

        &__title {
            color: #EEEDDE;
            width: auto;

            h1 {
                text-align: center;
                font-size: small;
            }
        }

        &__social-media {
            margin: auto 3rem;
        }
    }

    .nav {
        &__section {
            &__a {
                font-weight: 800;
            }
        }
    }

    .section {
        &__video {
            height: 300px;
        }

        &__tae {
            flex-direction: row-reverse;
            align-items: center;
            display: flex;
            justify-content: space-between;

            &__text {
                width: 70%;

                P {
                    width: 80%;
                }
            }

            img {
                display: inline;
                border-radius: 16px 0px 0px 16px;
                width: 30%;
            }
        }

        &__kwon {
            flex-direction: row-reverse;
            align-items: center;
            display: flex;
            justify-content: space-between;

            &__text {
                width: 70%;

                P {
                    width: 80%;
                }
            }

            img {
                display: inline;
                border-radius: 16px 0px 0px 16px;
                width: 30%;
                height: auto;
            }
        }

        &__do {
            flex-direction: row-reverse;
            align-items: center;
            display: flex;
            justify-content: space-between;

            &__text {
                width: 70%;

                P {
                    width: 80%;
                }
            }

            img {
                display: inline;
                border-radius: 16px 0px 0px 16px;
                width: 30%;
                height: auto;
            }
        }
    }

    .form {
        width: 60%;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    .header {
        height: auto;

        img {
            width: 80px;
        }

        &__title {
            color: #EEEDDE;
            width: auto;

            h1 {
                text-align: center;
                font-size: xx-large;
            }
        }
    }

    .nav {
        &__sections {
            display: flex;
            width: 60%;
            height: 50px;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 auto;
            font-size: 20px;
            text-decoration: none;
        }
    }


    .section {
        margin-bottom: 3rem;

        &__video {
            width: 50%;
            height: 700px;
        }

        &__tae {
            font-size: 25px;
            margin-bottom: 3rem;
        }

        &__kwon {
            font-size: 25px;
            margin-bottom: 3rem
        }

        &__do {
            font-size: 25px;
            margin-bottom: 3rem
        }
    }

    .taekwondo {
        margin-bottom: 3rem;

        &__text {

            &__intro {
                font-size: 15px;
                font-weight: 700;
            }

            &__choi {
                margin: 5rem auto;
                display: flex;
                text-align: center;
                align-items: center;
                width: 50%;

                &__art {
                    text-align: justify;
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            &__desgloce {
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    .form {
        width: 55%;
    }

    .footer {
        font-size: 15px;
        margin-top: 0;
        padding: 30px 0 0 0;
    }

    .sucursal {
        width: 50%;
        margin: 0 auto;
    }

    .alumnos {
        &__text {
            &__2 {
                text-align: center;
                margin: 5rem 0;
                font-size: 20px;
                font-weight: 800;
            }
        }
    }

    .ictf2{
        width: 90%;
        &__block{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
        }
        p{
            width: 90%;
        }
        &__video{
            width: 90%;
        }
    }

}