* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*Mobile*/
html {
    font-size: 62.5%;
    /*1rem -> 10px*/
}

body {
    width: 100%;
    background-color: #EEEDDE;
}

/*Header*/
.header {
    background-color: #141E27;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.header__logo img {
    width: 6rem;
    margin: 0 auto;
}

.header__title {
    color: #EEEDDE;
}

.header__social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Nav*/
nav {
    background-color: #E0DDAA;
    width: 100%;
}

.nav__sections {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-items: center;
    margin: auto 9%;
    grid-gap: 3%;
}

.nav__section__a {
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: black;
}


/*Tablet*/
@media only screen and (min-width: 600px) {

    header {
        display: grid;
        justify-items: center;
        column-gap: 24%;
        width: 100%;
    }

    .header__logo {
        margin: auto 3rem;
    }

    .header__title {
        font-size: 2rem;
        margin: auto 0;

    }

    .header__social-media {
        margin: auto 3rem;
    }

    .nav__section__a {
        font-weight: 800;
        }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    .nav__sections{
        display: flex;
        width: 60%;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        font-size: larger;
    }
}